# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://uvgtgeauhjbdatrmmaob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VuaEqan3EBtGHbpTI0KdJg_OimrHkqM
SUPABASE_SERVICE_ROLE_KEY=sb_secret_z9ve_Dx3VF9A9L5bhsnKYg_jIGEAaIT
DATABASE_URL=postgresql://postgres:Faisal%408686%40@db.uvgtgeauhjbdatrmmaob.supabase.co:5432/postgres

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=612796494885864
CLOUDINARY_API_SECRET=goXfE_2saVGk0Kro95592uWV0I4

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=sk.eyJ1IjoiZmFpc2Fsb3Jha3phaSIsImEiOiJjbXA2azVhMGQwMWxuMnRzZWhzcmxsdHkzIn0.Pbzn7woFh0PwCKXHzxcbHA
NEXT_PUBLIC_MAPBOX_STYLE=mapbox://styles/faisalorakzai/cmp6m332s001a01s93rqk58ew

# Anthropic (AI features)
ANTHROPIC_API_KEY=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

# Admin
ADMIN_EMAIL=faisalorakzaiofficial@gmail.com
